modules = ["python-3.12", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Preview App"
author = 21618820
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[workflows.workflow]]
name = "Run App"
author = 21618820
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python server.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
